asgiref==3.8.1
beautifulsoup4==4.12.3
Django==5.0.3
django-bootstrap4==24.3
django-cors-headers==4.4.0
django-crispy-forms==2.2
django-phonenumber-field==8.0.0
django-phonenumbers==1.0.1
django-widget-tweaks==1.5.0
phonenumbers==8.13.39
pillow==10.3.0
soupsieve==2.5
sqlparse==0.4.4
tzdata==2024.1
numpy
scikit-learn
pandas
matplotlib
joblib
numpy
seaborn
gunicorn==20.0.4
django_rest_framework
